@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

.navLink::before {
  content: "";
  position: absolute;
  bottom: 1px;
  width: 0;
  height: 2px;
  background-color: #cc7a00;
  transition: width 0.3s ease-in-out;
}
@media (max-width: 1050px) {
  .navLink::before {
    display: none;
  }
}

.navLink:not(.active):hover::before {
  width: 100%;
  left: 0;
}

.about-section {
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.contact-now-button {
  position: relative;
  font-size: 16px;
  border-radius: 20px;
}
.contact-now-button::before {
  opacity: 0;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #cacdd0;
  border-radius: 20px;
  animation: ripple 2s cubic-bezier(0.65, 0, 0.34, 1) infinite;
  z-index: -1;
}
