@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.navLink::before {
  content: "";
  position: absolute;
  bottom: 1px;
  width: 0;
  height: 2px;
  background-color: #cc7a00;
  transition: width 0.3s ease-in-out;
}
@media (max-width: 1050px) {
  .navLink::before {
    display: none;
  }
}

.navLink:not(.active):hover::before {
  width: 100%;
  left: 0;
}

.about-section {
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
}
